= form_for @contact do |f|
  - if @contact.errors.any?
    #error_explanation
      %ul
        - @contact.errors.messages.values.flatten.each do |message|
          %li= t(message)

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :sender_email
    = f.text_field :sender_email
  .field
    = f.label :receiver_email
    = f.text_field :receiver_email
  .field
    = f.label :mobile_no
    = f.text_field :mobile_no
  .field
    = f.label :message
    = f.text_area :message
  .actions
    = f.submit 'Save'
