%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Contact V17
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / ===============================================================================================
    = favicon_link_tag asset_path("/icons/favicon.ico"), :rel => 'icon', :type =>  'image/png'
    / ===============================================================================================
    = stylesheet_link_tag "vendor/bootstrap/css/bootstrap.min.css"
    / ===============================================================================================
    = stylesheet_link_tag "fonts/font-awesome.min.css"
    / ===============================================================================================
    = stylesheet_link_tag "fonts/icon-font.min.css"
    / ===============================================================================================
    = stylesheet_link_tag "vendor/animate/animate.css"
    / ===============================================================================================
    = stylesheet_link_tag "vendor/css-hamburgers/hamburgers.min.css"
    / ===============================================================================================
    = stylesheet_link_tag "vendor/animsition/css/animsition.min.css"
    / ===============================================================================================
    = stylesheet_link_tag "vendor/select2/select2.min.css"
    / ===============================================================================================
    = stylesheet_link_tag "vendor/daterangepicker/daterangepicker.css"
    / ===============================================================================================
    = stylesheet_link_tag "css/util.css"
    = stylesheet_link_tag "css/main.css"
    / ===============================================================================================
  %body
    - if notice.present?
      .alert.alert-success.success_message #{t(notice)}
    .container-contact100
      .wrap-contact100
        .contact100-form
          %div.check
            = form_tag root_path, class: 'locale'  do
              = select_tag 'set_locale',                         |
                options_for_select(LANGUAGES, I18n.locale.to_s), |
                onchange: 'this.form.submit()'
          = form_with(url: contacts_path, method: "post", local: true, :class => "validate-form check" ) do
            %span.contact100-form-title
              = t(:message_label)
            %label.label-input100{:for => "first-name"} #{t(:name_label)} *
            .div_flex
              .wrap-input100.rs1-wrap-input100.validate-input{"data-validate" => "Type first name"}
                %input#first-name.input100{:name => "first-name", :placeholder => "#{t(:first_name)}", :type => "text"}/
                %span.focus-input100
              .wrap-input100.rs2-wrap-input100.validate-input{"data-validate" => "Type last name"}
                %input.input100{:name => "last-name", :placeholder => "#{t(:last_name)}", :type => "text"}/
                %span.focus-input100
            %label.label-input100{:for => "email"} #{t(:email_label)} *
            .wrap-input100.validate-input{"data-validate" => "Valid email is required: ex@abc.xyz"}
              %input#email.input100{:name => "email", :placeholder => "#{t(:eg)}.#{t(:example)}@email.com", :type => "text"}/
              %span.focus-input100
            %label.label-input100{:for => "phone"} #{t(:phone_label)}
            .wrap-input100
              %input#phone.input100{:name => "phone", :placeholder => "#{t(:eg)}. +1 800 000000", :type => "text"}/
              %span.focus-input100
            %label.label-input100{:for => "message"} #{t(:message)} *
            .wrap-input100.validate-input{"data-validate" => "Message is required"}
              %textarea#message.input100{:name => "message", :placeholder => t(:message_placeholder)}
              %span.focus-input100
            .container-contact100-form-btn
              %button.contact100-form-btn
                = t(:send_message)
        .contact100-more.flex-col-c-m.back-image
          .flex-w.size1.p-b-47
            .txt1.p-r-25
              %span.lnr.lnr-map-marker
            .flex-col.size2
              %span.txt1.p-b-20
                = t(:address_label)
              %span.txt2
                Mada Center 8th floor, 379 Hudson St, New York, NY 10018 US
          .dis-flex.size1.p-b-47
            .txt1.p-r-25
              %span.lnr.lnr-phone-handset
            .flex-col.size2
              %span.txt1.p-b-20
                = t(:corporate_phone_label)
              %span.txt3
                +1 800 1236879
          .dis-flex.size1.p-b-47
            .txt1.p-r-25
              %span.lnr.lnr-envelope
            .flex-col.size2
              %span.txt1.p-b-20
                = t(:support_label)
              %span.txt3
                contact@example.com
    #dropDownSelect1
    / ===============================================================================================
    %script{:src => "assets/vendor/jquery/jquery-3.2.1.min.js"}
    / ===============================================================================================
    %script{:src => "assets/vendor/animsition/js/animsition.min.js"}
    / ===============================================================================================
    %script{:src => "assets/vendor/bootstrap/js/popper.js"}
    %script{:src => "assets/vendor/bootstrap/js/bootstrap.min.js"}
    / ===============================================================================================
    %script{:src => "assets/vendor/select2/select2.min.js"}
    :javascript
      $(".selection-2").select2({
      	minimumResultsForSearch: 20,
      	dropdownParent: $('#dropDownSelect1')
      });
    / ===============================================================================================
    %script{:src => "assets/vendor/daterangepicker/moment.min.js"}
    %script{:src => "assets/vendor/daterangepicker/daterangepicker.js"}
    / ===============================================================================================
    %script{:src => "assets/vendor/countdowntime/countdowntime.js"}
    / ===============================================================================================
    %script{:src => "assets/js/main.js"}
    / Global site tag (gtag.js) - Google Analytics
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-23581568-13');
