%p
  You got a new message
%p
  Message details
  %br/
  \--------------------------
%p
  Name: #{@msg.first_name} #{@msg.last_name}
%p
  Email: #{@msg.sender_email}
%p
  Phone: #{@msg.mobile_no}
%p
  Message:
  %br/
  \----------
%p= @msg.message
